{%  extends "Header.html" %}
{% block content %}
<body>
</br>
</br>
</br>
<div class= "container">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-body bg-light">
				<img class ="card-img-top" src="/static/images/Campus.jpg" >
				<div class ="card-body">
										
					<h4><a>Blog_Name</a></h4>
					<p>
					   Submitted by: Name							
					</p>
					<p>Blog Description</p>
					<figure class="figure">
						<a href="#"><img src="https://img.icons8.com/material-sharp/48/000000/edit.png" hspace="20"> </a>
						<figcaption class="figure-caption text-center"> Edit</figcaption>
					  </figure>
				  
					  <figure class="figure">
						<a href="#"> <img src="https://img.icons8.com/material-rounded/48/000000/filled-trash.png"></a>
						<figcaption class="figure-caption text-center"> Delete</figcaption>
					  </figure>							
				</div>					   
			</div>			
			<div class = "card card-body bg-light">
				<div class="text-right">
					<a class ="btn btn-success " href="#">Add New comment</a>
				</div>
					  <div class="row">
						 <div class="col-md-9">
							   <strong>Commenter Username: </strong>
							<p>
								comment.text 
							</p>
							<figure class="figure">
								<a href="#"><img src="https://img.icons8.com/material-sharp/48/000000/edit.png" hspace="20"> </a>
								<figcaption class="figure-caption text-center"> Edit</figcaption>
							  </figure>
						  
							  <figure class="figure">
								<a href="#"> <img src="https://img.icons8.com/material-rounded/48/000000/filled-trash.png"></a>
								<figcaption class="figure-caption text-center"> Delete</figcaption>
							  </figure>             
						 </div>
					</div> 
			</div>
		</div>
	</div>
</div>
{% endblock %}