{%  extends "Header.html" %}
{% block content %}
<body>
	<div class="col-md-12">
		<div class="card">
			<img class ="card-img-top" src="/static/images/Campus.jpg" >
			<div class="card-body">
				<div class="container">
					<div class="jumbotron-blog">
						<h1>Blog Post Title</h1>
						<h5>By: Username</h5>
						<p>[Post Content]</p>
						<div class="container h-100">
							<div class="d-flex h-100">
								<div class="align-self-end ml-auto btn-group-vertical">

									<figure class="figure">
										<a href="#"><img src="https://img.icons8.com/material-sharp/48/000000/edit.png" hspace="20"> </a>
										<figcaption class="figure-caption text-center"> Edit</figcaption>
									  </figure>

					  				<figure class="figure">
										<a href="#"> <img src="https://img.icons8.com/material-rounded/48/000000/filled-trash.png" hspace="20"></a>
										<figcaption class="figure-caption text-center"> Delete</figcaption>
									  </figure>

					  				<figure class="figure">
										<a href="#"><img src="https://img.icons8.com/material-rounded/48/000000/star.png" hspace="20"> </a>
										<figcaption class="figure-caption text-center">Like</figcaption>
									  </figure>

					  				<figure class="figure">
										<a href="#"><img src="https://img.icons8.com/material-rounded/48/000000/comments.png" hspace="20"> </a>
										<figcaption class="figure-caption text-center">Comment</figcaption>
									  </figure>

								</div>
							</div>
						</div>

						<hr class="my-4">
						<h6 style="text-align: left">Commenter Username</h6>
						<p style="text-align: left">[Comment Content]</p>
						<div class="container h-100">
							<div class="d-flex h-100">
								<div class="align-self-end ml-auto btn-group-vertical">

									<figure class="figure">
										<a href="#"><img src="https://img.icons8.com/material-sharp/48/000000/edit.png" hspace="20"> </a>
										<figcaption class="figure-caption text-center"> Edit</figcaption>
									  </figure>

					  				<figure class="figure">
										<a href="#"> <img src="https://img.icons8.com/material-rounded/48/000000/filled-trash.png" hspace="20"></a>
										<figcaption class="figure-caption text-center"> Delete</figcaption>
									  </figure> 

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}