{% import "bootstrap/wtf.html" as wtf %}
{%  extends "Header.html" %}
{% block content %}
<html>
    <body class="body-login">
        <div class="container">
            <div class ="container">
                <div class="jumbotron">
                    <form action="/comment/{{pid}}" method ="Post">
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}
                        {{wtf.form_field(form.body)}}
                        {{wtf.form_field(form.submit, class ="btn btn-light btn-block btn-lg", id = "startBtn")}}
                    </form>
                </div>
            </div>
        </div>  
    </body>
</html>
{% endblock %}


