{% import "bootstrap/wtf.html" as wtf %}
{%  extends "Header.html" %}
{% block content %}
<html>
    <body class="body-create">
        <div class="container">
                <div id = "create">
                        <form action ="/account" method ="post" id="blogform" enctype="multipart/form-data">
                            <h1 class="header-login-signup" style="text-align: center"> Edit UR Profile</h1>
                            {{form.hidden_tag()}}
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <!-- <label for="Title"> UserName </label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name ="UserName" placeholder="UserName"> -->
                                {{wtf.form_field(form.username)}}
							</div>
							<div class="form-group">
                                <!-- <label for="Title"> FullName </label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name ="FullName" placeholder="FullName"> -->
                                {{wtf.form_field(form.full_name)}}
                            </div>
                            <div class="form-group">
                                <!-- <label for="Title"> FullName </label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name ="FullName" placeholder="FullName"> -->
                                {{wtf.form_field(form.email)}}
                            </div>
                            <div class="form-group">
                                <!-- <label for="Title"> UserName </label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name ="UserName" placeholder="UserName"> -->
                                {{wtf.form_field(form.bio)}}
                            </div>
                            <div class="form-group">
                                <!-- <label for="Title"> UserName </label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name ="UserName" placeholder="UserName"> -->
                                {{wtf.form_field(form.class_year)}}
                            </div>
							<!-- <div class="form-group">
                                <label for="Title"> Class Year </label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name ="Class Year" placeholder="Class Year">
                            </div>
                            <div class="form-group">
                                <label for="Bio">Bio</label>
                                <textarea class="form-control" id="textarea" rows="15"></textarea>
                            </div> -->
                            <div class = "form-group">
                                <!-- <label for="Image">Image</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" name = "image" placeholder="Image"> -->
                                {{form.picture}}
							</div>
                            <div>
                                <!-- <button class ="btn btn-light btn-block btn-lg" id = "startBtn">Submit</button>  -->
                                {{wtf.form_field(form.submit, class ="btn btn-light btn-block btn-lg", id = "startBtn")}}
                            </div>
                        </form>
                </div>
        </div> 
    </body>
</html>
{% endblock %}