

{% import "bootstrap/wtf.html" as wtf %}
{%  extends "Header.html" %}
{% block content %}

<html>
    <body class="body-login">
        <div class="container">
            <div class ="container">
                <div class="jumbotron">
                        <form action="" method="post">
                            <h1 class="header-login-signup" style="text-align: center">Reset Password</h1>
                            {{ form.hidden_tag() }}
                            <p>
                               <strong>{{ form.email.label }} </strong> <br>
                                {{ form.email(size=64) }}<br>
                                {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            {{wtf.form_field(form.submit ,class ="btn btn-light btn-block btn-lg", id = "startBtn")}}
                        </form>
                </div>
            </div>
        </div>  
    </body>
</html>
{% endblock %}



