{%  extends "Header.html" %}
{% block content %}

<body > 
  <!-- slideshow -->
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
   
      <!-- UR blog animation  -->
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%">UR BLOG </text>
            </symbol>
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
          <!-- Buttons  -->
          <div class="box-1">
            <a href="http://localhost:5000/create> 
              <div class="btn btn-one">
               <span id = "new"> Share UR Experience</span></a> 
              </div>
            </div>
   
      <div class = "container">
        <!-- Blog cards   -->
  <div class ="row text-center">
    <div class ="col-md-4 col-sm-6">
      <div class = "card">        
        <a href="blog"> <img class ="card-img" src="/static/images/Library.jpg">
            <div class = "card body">
              <h4 class = "card-title"  id = "text" > Name </h4>
            </div>
            <div class = "card-img-overlay text-center">
          <h4> Read More</h4>
        </div>
       </a> 
      </div>
      </div>

    <div class ="col-md-4 col-sm-6">
        <div class = "card">
              <a href="#"><img class="card-img" src="/static/images/Campus.jpg"> 
                <div class = "card body">
                  <h4 class = "card-title" id = "text" > Name </h4>
                </div>
                <div class = "card-img-overlay text-center">
                    <h4> Read More</h4>
           </div>
          </a>
      </div>
      </div>

          <div class ="col-md-4 col-sm-6">
               <div class = "card">
              <a href="#"><img class="card-img" src="/static/images/WilCo.jpg">
                <div class = "card body">
                    <h4 class = "card-title" id = "text" > Name </h4>
                  </div>
               <div class = "card-img-overlay text-center">
                  <h4> Read More</h4>
             </div>
           </a>
      </div>
          </div>   
    <div class ="col-md-4 col-sm-6">
      <div class = "card">
              <a href="#"><img class="card-img" src="/static/images/WilCo2.jpg">
                <div class = "card body">
                    <h4 class = "card-title" id = "text" > Name </h4>
                  </div>
                <div class = "card-img-overlay text-center">
                    <h4> Read More</h4>
           </div>
         </a>
      </div>
          </div>
      </div>
{% endblock %}