{% import "bootstrap/wtf.html" as wtf %}
{%  extends "Header.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
{% block body %}{% endblock %}


<body class="body-login">
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="container">
        <div class ="container">
            <div class="jumbotron">
                <div class="row justify-content-center align-items-center">
                        <h1 class="header-login-signup" style="text-align: center">YOU ARE LOGGED IN</h1>                   
                </div>
                <div> <text> User: {{ username }} </text> </div>
                <div> <a href = "{{ url_for('home') }}">Go Back</a></div>
                <div> <a href="{{ url_for('logout') }}">Logout</a></div>
            </div>
        </div>
                
    </div>  
    {% endblock %}


