{% import "bootstrap/wtf.html" as wtf %}
{%  extends "Header.html" %}
{% block content %}

<html>
    <body class="body-login">
        <div class="container">
            <div class ="container">
                <div class="jumbotron">
                        <form action="/login" method ="Post">
                            <h1 class="header-login-signup" style="text-align: center">LOGIN</h1>
                                {% if error %}
                                    <p class=error><strong>Error:</strong> {{ error }}
                                {% endif %}
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul class=flashes>
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}

                            {{form.hidden_tag()}}
                            {{ form.csrf_token }}    
                            <div class="form-group">
                                {{wtf.form_field(form.username)}}
                                <!-- <input type="text" class="form-control" id="formGroupExampleInput" name ="email" placeholder="email"> -->
                            </div>
                            <div class="form-group">
                                {{wtf.form_field(form.password)}}	
                                <!-- <input type="password" class="form-control" id="formGroupExampleInput2" name = "password" placeholder="Password"> -->
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-light btn-block" id = "startBtn" style="text-align: center;">Login</button>
                            </div>
                            <div class = "form-group"> 
                                {{form.remember_me}} Remember Me 
                            </div>
                            <p>Don't have an account? Click <a href="http://localhost:5000/signup"> here </a> to create one!</p>
                            <p> Forgot Your Password?
                                Click <a href="{{ url_for('forgotpassword') }}"> here </a> to reset it
                            </p>
                            <a href = "http://localhost:5000/">Go Back</a>	
                            
                        </form>
                </div>
            </div>
                    
        </div>  
    </body>
</html>
{% endblock %}


