{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="/stylesheets/nav.js"> </script> 
    <link href="https://fonts.googleapis.com/css?family=McLaren|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body class="body-login">
    <div class="container">
        <div class ="container">
            <div class="jumbotron">
                <div class="row justify-content-center align-items-center">
                    <form action="/login" method ="Post">
                        <h1 class="header-login-signup" style="text-align: center">LOGIN</h1>
                        {{form.hidden_tag()}}
                        {{ form.csrf_token }}    
                        <div class="form-group">
                            {{wtf.form_field(form.username)}}
                            <!-- <input type="text" class="form-control" id="formGroupExampleInput" name ="email" placeholder="email"> -->
                        </div>
                        <div class="form-group">
                            {{wtf.form_field(form.password)}}	
                            <!-- <input type="password" class="form-control" id="formGroupExampleInput2" name = "password" placeholder="Password"> -->
                        </div>
                        <div class="form-group">
                            <button class="btn btn-light btn-block" style="text-align: center;">Login</button>
                        </div>
                        <p>Don't have an account? Click <a href="http://localhost:5000/signup"> here </a> to create one!</p>
                        <a href = "http://localhost:5000/">Go Back</a>	
                    </form>
                </div>
            </div>
        </div>
                
    </div>  
</body>
</html>



