{%  extends "Header.html" %}
{% block content %}
<div class="container">
</br>
</br>
        <div class = "row">
         <div class="col-md-6 col-sm-12">
             <img class="fit" src="/static/user_pictures/{{current_user.picture}}">  
                    <figure class="figure">
                      <a href="http://localhost:5000/account" ><img src="https://img.icons8.com/material-sharp/30/000000/edit.png" hspace="20"> </a>
                           <figcaption class="figure-caption text-center"> Edit</figcaption>
                        </figure>
        </div>
        <div class ="col-md-6 col-sm-12">
              
        <h1 class ="profile"> {{current_user.full_name}}</h1>  
                 
        <h4 class ="profile2">Class of {{current_user.class_year}}</h4>
        </br>
        <p class = "bio">
            <br>
            {{current_user.bio}}
        </p>
          <!-- <h5 class ="profile">Email: {{current_user.email}}</h4> -->
          <!-- <figure class="figure">
            <a href="#"> <img src="https://img.icons8.com/material-rounded/48/000000/filled-trash.png"></a>
            <figcaption class="figure-caption text-center"> Delete</figcaption>
          </figure> -->
  
    </div>
  
</div>
 
        {% endblock %}