
{%  extends "Header.html" %}
{% block content %}
<div class="container">
</br>
</br>
        <div class = "row">
         <div class="col-md-6 col-sm-12">
             <img class="fit" src="/static/images/sarah1.jpg" alt="This is me!">
            </div>
            
        <div class ="col-md-6 col-sm-12">
       
        <h1 class ="profile">Sarah</h1>
        <h4 class ="profile2">Class of 1998</h4>
        </br>
        <p class = "bio">
            Sarah C. Mangelsdorf became president of the University of Rochester on July 1, 2019. 
            An experienced academic leader, Mangelsdorf served as provost at the University of Wisconsin–Madison before coming to Rochester. 
            She is a professor of psychology who is internationally known for her research on the social and emotional development of infants and young children. 
        </br>
    </br>
                Sarah Mangelsdorf is known for her work on issues of academic quality, educational access, and diversity and inclusion at some of the nation’s 
                leading public and private institutions. She has earned wide recognition for developing important strategic initiatives tailored to the goals of 
                each institution and for taking a leading role in building both financial and institutional support for those goals.
        </p>
    </div>
    <button type="button" class="btn btn-warning btn-xs">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
        </div>
 
        {% endblock %}